.account-settings
  .sign-up-form
    padding 0
    fieldset
      background $gray-lighter
      padding-bottom 15px
  .section-header
    text-align center
    margin 15px 0 0
    padding 15px 0
    background $white
    h2
      padding 0
      margin 0
      font-size $font-size-large
      .sprite
        margin-right 10px
      span
        display-type(inline-block)
        vertical-align middle
  .form-group
    padding-left 15px
    padding-right 15px
