.account-settings
  .credit-card-information
    .card-expiration
      padding 0
      background $gray-lighter
      .select-field
        background $white
        border-bottom $gray-border
  .sign-up-form
    .add-another-vehicle
      .add
      .remove
        text-align center
        button
          padding 0
          border none
          background none
          color $blue
          font-weight $font-bold
          .icon
            margin-right 10px
    .vehicle-label
      .row
        border 0 none
    .label-info
      background $gray-lighter
      padding-top 5px
    margin-top 15px
    padding 0
    fieldset
      background $gray-lighter
      padding-bottom 15px
    .terms-conditions
      .row
        .label-container
          text-align left
        background $gray-lighter
        .form-group
          margin-top 0
          padding 0
          height auto
          .checkbox-container
            padding 0
            .fa-checkbox
              margin-top 5px
              margin-left 5px
            input
              display none
              + .fa-checkbox
                &:before
                  content '\f096'
              &:checked
                + .fa-checkbox
                  &:before
                    content '\f046'
  .section-header
    text-align center
    margin 0
    padding 15px 0
    background $white
    h2
      padding 0
      margin 0
      font-size $font-size-large
      .sprite
        margin-right 10px
      span
        display-type(inline-block)
        vertical-align middle
  .form-group
    padding-left 15px
    padding-right 15px
