@import '_typography'
@import '_buttons'
@import '_colors'
@import '_forms'
@import '_grid'
@import '_modals'
@import '_mixins'

// Helpers
.list-group
  .list-group-item
    text-transform capitalize

.sprite
  clearfix()
  text-indent -999rem
  display block
  overflow hidden

// Base

html
  font-size $font-size-root

.app
  background-color $white

.app-content
  position absolute
  top 0

// NavBar

.navbar
  position relative
  min-height 15px
  margin-bottom 20px
  border $transparent-border

.navbar-app
  min-height 15px
  background $gray-lighter
  color $blue
  opacity .8

.navbar-absolute-top
.navbar-absolute-bottom
  position absolute
  z-index 1000
  border-width 0
  left 0
  right 0
  width 100%
  margin 0

.navbar-absolute-top
  top 0

.navbar-brand
  float left
  padding 0 15px
  height 52px
  line-height inherit

  h1
    font-weight 300
    text-transform uppercase
    margin-top 5px
    margin-bottom 0
    padding-bottom 5px
    padding-left 15px
    background-color $gray-lighter
    font-size $font-size-large
    width 185px
    position absolute
    left 0
    border-bottom-right-radius 50px
    transition all 600ms cubic-bezier(0.86, 0, 0.07, 1)
    clearfix()
    .logo
      width 36px
      height 41px
      background url('../../assets/images/logo-small.png')
      background-size 36px 41px
      background-repeat no-repeat
    span
      float left
      margin-right 10px
      &:nth-child(2)
        margin-top 10px
      i
        font-style normal
        &:nth-child(2)
          font-weight 700

.navbar-brand-left
  text-align left
  position absolute
  width 100%
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// Scrollable Content

.scrollable-content
  background-color $white
  padding-bottom 15px
  .container
    // for header
    margin-top 50px
    background-color $gray-lighter
  .action
    background-color $white
    box-shadow $box-shadow-gray
  .action-call
    display block
    padding 15px 0
    clearfix()
    text-align center
    font-size $font-size-large
