@import '_typography'
@import '_buttons'
@import '_colors'
@import '_forms'
@import '_grid'
@import '_mixins'

// Helpers

.list-group
  .list-group-item
    text-transform capitalize

// Base

html
  font-size $font-size-root

.container
  padding-bottom 15px

a
  color $blue

// NavBar

.navbar
  position relative
  min-height 25px
  margin-bottom 20px
  border $transparent-border

.navbar-app
  min-height 25px
  border-bottom $gray-border
  background $gray
  color $blue

.navbar-absolute-top
.navbar-absolute-bottom
  position absolute
  z-index 1000
  border-width 0
  left 0
  right 0
  width 100%
  margin 0

.navbar-absolute-top
  top 0
  border-bottom-width 1px

.navbar-brand
  float left
  padding 0 15px
  height 50px
  line-height inherit

  h1
    font-weight 300
    text-transform uppercase
    margin-top 5px
    padding-bottom 5px
    padding-left 15px
    background-color $gray
    font-size $font-size-large
    width 200px
    position absolute
    left 0
    border-bottom-right-radius 50px 50px
    clearfix()
    .logo
      width 36px
      height 41px
      background url('../../assets/images/logo-small.png')
      background-size 36px 41px
      background-repeat no-repeat
    span
      float left
      margin-right 10px
      &:nth-child(2)
        margin-top 10px
      i
        font-style normal
        &:nth-child(2)
          font-weight 700

.navbar-brand-left
  text-align left
  position absolute
  width 100%
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// Scrollable Content

.scrollable-content
  background-color $gray
  .action
    background-color $white
    border-bottom $gray-border
    box-shadow $box-shadow-gray
  .action-call
    display block
    padding 15px 0
    clearfix()
    text-align center
    font-size $font-size-large
