// Buttons
.container .btn
  border-radius 0
  height 100px
  width 100%
  padding 0
  border 1px solid #fff
  font-weight 300
  font-size 2.15rem
  color #fff

.container .btn-primary
  height 150px
  font-size 2.6rem
  background linear-gradient(#f7931e, #f15a24)

.container .btn-default
 background-color #0071bc
 opacity .5
