.container .btn
  border-radius 0
  height 150px
  width 100%
  padding 0
  border 1px solid #fff
  font-weight 100
  font-size 3.4rem

.container .btn-default
  color #fff
  background linear-gradient(#f7931e, #f15a24)
