// Buttons
.container
  .btn
    border-radius 0
    height 100px
    width 100%
    padding 0
    border 1px solid #fff
    font-weight 300
    font-size 2.15rem
    color #fff

  .btn-default
    background linear-gradient(#f7931e, #f15a24)

  .btn-blue
    background-color #0071bc
    opacity .5

  .btn-large
    height 150px
    font-size 2.6rem
    background linear-gradient(#f7931e, #f15a24)
