.has-class-checkin
.has-class-checkout
  .hamburger-menu
    display block

.checkin-out
  .container
    background $white
    .row
      > div
        margin 20px 0
    .masthead
      text-align center
      h1
        padding 0
        margin 0
        font-size $font-size-large
        .sprite
          display inline-block
          width 26px
          margin-right 10px
          vertical-align middle
    .info
      p
        padding 0 20px
        margin 0
        text-align center
    .barcode
      > div
        text-align center
    .reservations
      p
        font-size $font-size-large
        text-align center
        margin 0
        .sprite
          display inline-block
          margin-right 10px
          vertical-align top
      .reservation
        margin 0
        .row
          padding-bottom 15px
          background $gray-lighter
          > div
            margin 0
            padding-top 15px
            padding-bottom 15px
            min-height 125px
            box-shadow-border($gray-lighter)
            background $white
            text-align center
            .sprite
              display inline-block
        .date-time
          color $black
          span
            display block
            &.date
              font-weight $font-bold
            &.time
              font-size $font-size-large
              font-weight $font-light
        .lot-location
          .sprite
            width 20px
            height 25px
          color $blue
          address
            .name
              font-weight $font-bold
            span
              display block
        .car-info
          padding 0!important
