.has-class-checkin
.has-class-checkout
  .hamburger-menu
    display block

.checkin-out
  .container
    background $white
    .row
      > div
        margin 20px 0
    .masthead
      text-align center
      h1
        padding 0
        margin 0
        font-size $font-size-large
        .sprite
          display inline-block
          width 26px
          margin-right 10px
          vertical-align middle
    .info
      p
        padding 0 20px
        margin 0
        text-align center
    .barcode
      > div
        text-align center
    .reservations
      p
        font-size $font-size-large
        text-align center
        margin 0
        .sprite
          display inline-block
          margin-right 10px
          vertical-align top
      .reservation
        .row
          > div
            margin 0
            padding-top 15px
            padding-bottom 15px
            box-shadow-border($gray-lighter)
