.has-class-checkin
.has-class-checkout
  .hamburger-menu
    display block

.checkin-out
  .container
    background $white
    .row
      > div
        margin 20px 0
    .masthead
      text-align center
      h1
        padding 0
        margin 0
        font-size $font-size-large
        .sprite
          background $black
          width 20px
          height 20px
          display inline-block
          margin-right 10px
    .info
      p
        padding 0 20px
        margin 0
        text-align center
