// Colors
.app
  background-color $white

.bg-red
.error
  background-color $red
  color $white
.red
  color $red

.bg-orange
  background-color $orange
  color $white
.orange
  color $orange

.bg-blue
  background-color $blue
  color $white
.blue
  color $blue

.bg-black
  background-color $black
  color $white
.black
  color $black

// Grays

.bg-gray
  background-color $gray
  color $dark-gray
.gray
  color $gray
