// Colors
.app
  background-color #fff

.bg-red
.error
  background-color $red
  color #fff
.red
  color $red

.bg-orange
  background-color $orange
  color #fff
.orange
  color $orange

.bg-blue
  background-color $blue
  color #fff
.blue
  color $blue

.bg-black
  background-color $black
  color #fff
.black
  color $black

// Grays

.bg-gray
  background-color $gray
  color #888
.gray
  color $gray
