// Colors

.app
  background-color #fff

.bg-red
  background-color $red
  color #fff
.red
  color $red

.bg-orange
  background-color $orange
  color #fff
.orange
  color $orange

.bg-blue
  background-color $blue
  color #fff
.blue
  color $blue
