.find-garage
  color $blue
  .container
    padding 0
    background $white
    width 100%!important
    margin-top 0
  h1
    text-align right
    font-size $font-size-x-large
    font-weight $font-light
    .customer
      font-weight $font-bold
// Garage Controls Footer
.garage-controls
  text-align center
  box-shadow $box-shadow-dark-top
  background $white
  height 300px
  width 100%
  position absolute
  bottom 0
  z-index 1000
  .selectors
    text-align center
    color $blue
    border-bottom $gray-border
    .tabs
      border-right $gray-border
      min-height 60px
      &:last-child
        border none
      select, input
        font-size $font-size-large
        color $blue
        font-weight $font-bold
      span
        margin-top 5px
        font-size $font-size-base
        display block
