.find-garage
  color $blue
  .container
    padding 0
    background $white
    width 100%!important
    margin-top 0
  h1
    text-align right
    font-size $font-size-x-large
    font-weight $font-light
    .customer
      font-weight $font-bold
  .customer-greeting
    background-color $transparent
    position absolute
    right 15px
    top 30px
    z-index 100
// Garage Controls Footer
.has-class-find-garage
  footer
    display block
.garage-controls
  text-align center
  box-shadow $box-shadow-dark-top
  background $white
  height auto
  width 100%
  position absolute
  bottom 0
  z-index 1000
  padding 0
  .selectors
    text-align center
    color $blue
    border-bottom $gray-border
    .tabs
      border-right $gray-border
      min-height 50px
      &:last-child
        border none
      select, input
        font-size $font-size-base
        color $blue
        font-weight $font-bold
      span
        margin-top 5px
        font-size $font-size-base
        display block
  .options
    position relative
    width 100%
    overflow-y hidden
    overflow-x scroll
    overflow-scrolling touch
    height 123px
    margin 0
    background $gray
    .scrollable-options
      padding-right 0
      background-color $gray
      .toggle
        height 123px
        background $gray
        padding 0
        line-height 123px
        width 40px
        border-right $white-border
        a
          display block
        i
          color $white
        &.fixed
          position fixed
          left 0
          bottom 0
          z-index 100
    .option
      width 110px
      padding 5px 0
      background $gray-light
      color $white
      font-weight $font-light
      border-right $white-border
      // &:last-child
      //   border 0 none
      &.best
        background $light-orange
      &.closest
        background $light-blue
      &.cheapest
        background $light-green
      > div
        > span
          display block
      .type-of
        border-bottom $white-border
        margin 0 0 5px 0
        padding 0 0 5px 0
        .price
          font-size $font-size-x-large
          .amount
            font-weight $font-bold
      .location
        .address
          font-weight $font-bold
