.find-garage
  color $blue
  .container
    padding 0
    background $white
    width 100%!important
    margin-top 0
  h1
    text-align right
    font-size $font-size-large
    font-weight $font-light
    .customer
      font-weight $font-bold
  .customer-greeting
    background-color $transparent
    position absolute
    right 15px
    top 10px
    z-index 100
  .search-container
    display none
    position absolute
    top 60px
    padding 0 15px 0 75px
    z-index 2000
    left 0
    .search
      position absolute
      right 25px
      top 12px
      cursor pointer
      background-color transparent
    .close
      position absolute
      right 65px
      top 6px
      display inline-block
      z-index 2001
      opacity 1
      cursor pointer
      background-color #b3b3b3
    .controls
      border $transparent-border
      border-radius 2px 0 0 2px
      box-sizing border-box
      height 42px
      outline $gray-border
      box-shadow 0 2px 6px rgba(0, 0, 0, 0.3)
      &#search-box
        background-color $white
        font-size $font-size-base
        font-weight $font-light
        padding 0 21px 0 23px
        text-overflow ellipsis
        width 100%
// Garage Controls Footer
.has-class-find-garage
  footer
    display block
.garage-controls
  text-align center
  box-shadow $box-shadow-dark-top
  background $white
  height auto
  width 100%
  position absolute
  bottom 0
  z-index 1000
  padding 0
  .selectors
    text-align center
    color $blue
    border-bottom $gray-border
    .tabs
      border-right $gray-border
      padding-bottom 5px
      &:last-child
        border none
      select, input
        font-size $font-size-base
        color $blue
        font-weight $font-bold
        border none
        margin 0 auto
      span
        font-size $font-size-base
        display block
  .options
    position relative
    overflow-y hidden
    overflow-x scroll
    height 105px
    width 100%
    margin 0
    background $gray
    .scrollable-options
      height 105px
      width auto
      padding-right 0
      background-color $gray
      .toggle
        height 105px
        background $gray
        padding 0
        line-height 105px
        width 40px
        border-right $white-border
        a
          display block
        i
          color $white
        &.fixed
          position fixed
          left 0
          bottom 0
          z-index 100
    .option
      width 110px
      padding 5px
      cursor pointer
      background $gray-light
      color $white
      font-weight $font-light
      border-right $white-border
      position relative
      display inline-block
      // &:last-child
      //   border 0 none
      &.selected
        box-shadow inset 0 0 0 3px $white
        &:after
          content ''
      &.best
        background $light-orange
      &.closest
        background $light-blue
      &.cheapest
        background $light-green
      > div
        > span
          display block
          padding 0
          &.rating
            .fa
              color $white
              font-weight $font-light
              font-size $font-size-base
              margin-right 2px
      .type-of
        border-bottom $white-border
        margin 0 0 5px 0
        padding 0 0 5px 0
        .price
          font-size $font-size-large
          .amount
            font-weight $font-bold
      .location
        .address
          font-weight $font-bold
          text-overflow ellipsis
