input
select
  appearance none
  border none
form
  .row
    font-size $font-size-large
    background-color $white
    display flex
    flex-flow row no-wrap
    align-items center
    margin 0
    padding 0
  .btn
    margin-top 15px
  .form-group
    height 75px
    border-bottom $gray-border
    &:first-child
      margin-top 15px
    .border-right
      border-right $gray-border
    .select-field
      height inherit
      padding-top 25px
    label
      color $dark-gray
      font-weight 400
      text-align left
      margin-bottom 0
    .form-control
      height auto
      font-weight 400
      border 0 none
      box-shadow none
      color $dark-gray
      background-color none
      font-size $font-size-large
      padding 0
select
  color $dark-gray
  cursor pointer
  option
    color $dark-gray
.mock-dropdown
  position relative
  clearfix()
  .sprite
    position absolute
    top 8px
    left 0
    float left
    margin-right 10px
  select
    float left
    padding-left 20px!important
