.has-class-garage-reviews
  .hamburger-menu
    display none
.garage-reviews
  // Filters
  .filter-sort-reviews
    margin 30px -15px
    background $white
    .control
      padding 15px 0
      &:first-child
        border-right $gray-border
      span
      select
        color $blue
      select
        font-size $font-size-large
      span
        display block
      text-align center
  // Reviews
  .reviews
    // Review
    .review
      background $white
      padding 15px 15px 20px
      border-bottom $gray-border
      .rating
      .byline
        padding-bottom 20px
      .rating
        .fa
          color $gray-light
          font-size $font-size-large
