// Main Screen
.landing
  background-image url('../../assets/images/landing-bkg.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover
  background-attachment fixed
  text-align center
  font-size $font-size-large
  font-weight 400
  color $white

  .container
    padding 0 20px 20px

    .error
      display block
      padding 15px

    .row
      &:nth-child(4)
        span
          padding 10px 0
          display block
          font-size $font-size-x-large

    form
      .form-group
        margin-bottom 1px
        height 75px
        opacity .5
        z-index 1
    .forgot-credentials
      padding 0 15px
      div
        padding 0
        .label
          display block
          height 75px
          line-height 75px
          padding 0
          font-size $font-size-large
          background $black
          border-left $white-border
          border-bottom $white-border
          border-radius 0
        .btn
          border-top 0
          font-size $font-size-large
        &:nth-child(2)
          .btn
            border-right 0

  h1
    font-size $font-size-large
    font-weight 400
    margin 20px 0

  .landing-links
    .row
      &:nth-child(2)
        .landing-act
          height 100px

    .landing-act
      box-shadow 1px 0 0 0 #fff, 0 1px 0 0 #fff, 1px 1px 0 0 #fff, 1px 0 0 0 #fff inset, 0 1px 0 0 #fff inset
      height 280px

      &:before
        content ' '
        display block
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index 1
        opacity .5
        background-image url('../../assets/images/bkg-opacity.png')
        background-repeat repeat
        background-position 50% 0
        background-size cover

      a
        color $white
        display block
        width 100%
        text-align center
        z-index 2
        left 0
        vertical-align(absolute)

        span
          width 100px
          height 100px
          display block
          border 1px solid red
          margin 0 auto 20px

          &:after
            content 'placeholder icon'
            display block
  // Login

  .login-call
    color $white
    display block
    padding 15px 0
    .fa
      color $white

.login
  padding-top 50px
