.landing
  background-image url('../../assets/images/landing-bkg.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover
  background-attachment fixed
  text-align center
  font-size $font-size-large
  font-weight 400
  color #fff

  h1
    font-size $font-size-large
    font-weight 400
    margin 20px 0

  .landing-links
    padding 0 50px 50px

    .row
      &:nth-child(2)
        .landing-act
          height 100px

    .landing-act
      box-shadow 1px 0 0 0 #fff, 0 1px 0 0 #fff, 1px 1px 0 0 #fff, 1px 0 0 0 #fff inset, 0 1px 0 0 #fff inset
      height 280px

      &:before
        content ' '
        display block
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index 1
        opacity .5
        background-image url('../../assets/images/bkg-opacity.png')
        background-repeat repeat
        background-position 50% 0
        background-size cover

      a
        color #fff
        display block
        width 100%
        text-align center
        z-index 2
        left 0
        vertical-align(absolute)

        span
          width 100px
          height 100px
          display block
          border 1px solid red
          margin 0 auto 20px

          &:after
            content 'placeholder icon'
            display block
