// Main Screen
.landing
  background-image url('../../assets/images/landing-bkg.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover
  background-attachment fixed
  text-align center
  font-size $font-size-large
  font-weight 400
  color $white
  &.login
    .row
      &.split
        span
          padding 10px 0
          display block
          font-size $font-size-x-large
  .container
    background-color $transparent
    .error
      display block
      padding 15px

    form
      .form-group
        margin-top 0
        margin-bottom 1px
        opacity .5
        z-index 1
        border none
        &:nth-child(2)
          margin 0
      .btn
        margin 0
    .forgot-credentials
      padding 0 15px
      div
        padding 0
        .label
          display block
          height 75px
          line-height 75px
          padding 0
          font-size $font-size-large
          background $black
          border-left $white-border
          border-bottom $white-border
          border-radius 0
        .btn
          border-top 0
          font-size $font-size-large
        &:nth-child(2)
          .btn
            border-right 0

  h1
    font-size $font-size-large
    font-weight $font-normal
    margin 20px 0

  .customer
    h1
      font-size $font-size-x-large
      span
        font-weight $font-light
      .name
        font-weight $font-bold

  .landing-links
    .row
      margin 0
      &.signin-signup
        .landing-act
          height 80px

    .landing-act
      box-shadow 1px 0 0 0 #fff, 0 1px 0 0 #fff, 1px 1px 0 0 #fff, 1px 0 0 0 #fff inset, 0 1px 0 0 #fff inset
      height 130px

      &:before
        content ' '
        display block
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index 1
        opacity .5
        background-image url('../../assets/images/bkg-opacity.png')
        background-repeat repeat
        background-position 50% 0
        background-size cover

      a
        color $white
        display block
        width 100%
        text-align center
        z-index 2
        left 0
        vertical-align(absolute)

        .sprite
          margin 0 auto 10px
          position relative
          &.sprite-home-alerts
            overflow visible
            i
              position absolute
              display inline-block
              height 30px
              width 30px
              border-radius 30px
              text-indent 0
              font-style normal
              line-height 30px
              right -15px
              top -5px

          &:after
            content 'icon'
            display block
// Login
.login

  .btn
    &.sign-up
      font-size $font-size-large
  .login-call
    color $white
    font-weight 700
    .fa
      color $white
