.lot-info
  display-type(flex)
  .cell
    margin 0!important
    flex-grow(1, 0)
    &.lot-rating
      min-width 150px
      padding 0
    .image
      position relative
      background $gray
      .rating
        position absolute
        left 0
        bottom 0
        padding 5px 0
        text-align center
        background $gray-lighter
        display-type(block)
        width 100%
        .fa
          font-size $font-size-large
          font-weight $font-thin
          margin-right 5px
          color $gray-light
