.lot-info
  display-type(flex)
  .cell
    margin 0!important
    flex-grow(1, 0)
    &.lot-rating
      min-width 50px
      max-width 200px
      padding 0
      position relative
      background $gray
    .image
      p
        color $white
        text-align center
        line-height 120px
        font-weight $font-light
      .rating
        position absolute
        left 0
        bottom 0
        padding 5px 0
        text-align center
        background $gray-lighter
        display-type(block)
        width 100%
        .fa
          font-size $font-size-large
          font-weight $font-thin
          margin-right 5px
          color $gray-light
    &.lot-location
      text-align center
      padding 15px
      border-right $gray-border
      border-left $gray-border
      .lot-name
        font-weight $font-bold
        font-size $font-size-large
      address
        padding-bottom 5px
        span
          display-type(block)
          color $blue
      .phone-number
        color $blue
        font-weight $font-bold
        font-size $font-size-large
        padding-top 10px
        border-top $gray-border
        display-type(block)
        span
          vertical-align middle
          &.sprite
            display-type(inline-block)
            margin-right 10px
    &.lot-preference
      padding 0
      max-width 75px
      position relative
      .slot
        cursor pointer
        padding 25px
        &:first-child
          border-bottom $gray-border
