/* Mixin */
vertical-alignment($position)
  position $position
  top 50%
  transform translateY(-50%)

box-shadow-border($color)
  box-shadow 1px 0 0 0 $color, 0 1px 0 0 $color, 1px 1px 0 0 $color, 1px 0 0 0 $color inset, 0 1px 0 0 $color inset
