/* Mixin */
vertical-alignment($position)
  position $position
  top 50%
  transform translateY(-50%)

box-shadow-border($color)
  box-shadow 1px 0 0 0 $color, 0 1px 0 0 $color, 1px 1px 0 0 $color, 1px 0 0 0 $color inset, 0 1px 0 0 $color inset

flex-display($position)
  display flex
  flex-flow row no-wrap
  justify-content $position
  align-items $position

flex-simple()
  display flex

flex-grow()
  flex-grow 1
  flex-basis 0
