.modal
  .modal-header
  .modal-footer
    border 0 none
  .modal-content
    border-radius 0
    p
      font-size $font-size-large
  .close
    background $gray-light

// Filter Modal
  .filter-modal
    background $gray-lighter
    .modal-footer
      padding-top 0
    .container
      padding 0 15px
      .form-group
        min-height 175px
        margin 0
        border 0 none
      .info-window
        float none
        color $blue
        font-weight $font-light
        min-height 175px
        position relative
        > div
          padding 0 15px 15px
          height inherit
          position absolute
          width 100%
          left 0
          bottom 0
          text-align center
