.modal
  .modal-header
  .modal-footer
    border 0 none
  .modal-content
    border-radius 0
    p
      font-size $font-size-large
  .close
    background $gray-light

// Filter Modal
  .filter-modal
    .modal-header
      clearfix()
      .close
        float right
    background $gray-lighter
    h4
      font-size $font-size-large
      font-weight $font-bold
      text-align center
      span
        display inline-block
      .sprite
        margin-right 10px
    .modal-footer
      padding-top 1px
    .container-fluid
      padding 0 15px
      .form-group
        min-height 150px
        margin 0
        border 0 none
      .info-window
        float none
        color $blue
        font-weight $font-light
        min-height 150px
        position relative
        box-shadow 1px 0 0 0 $blue, 0 1px 0 0 $blue, 1px 1px 0 0 $blue, 1px 0 0 0 $blue inset, 0 1px 0 0 $blue inset
        .mock-dropdown
          margin 0 auto 20px
          select
            color $blue
            font-size $font-size-large
            font-weight $font-bold
        &.parking-type
          color $white
          .sprite
            margin 0 auto 30px auto
        > div
          padding 0 15px 15px
          height inherit
          position absolute
          width 100%
          left 0
          bottom 0
          text-align center

// Garage Info Window Overlay
.garage-info-window
  .container-fluid
    padding 0
    .row
      display flex
      flex-flow row no-wrap
      justify-content center
      align-items center
    .garage-masthead
      h1
        font-size $font-size-base
        font-weight $font-bold
        margin 0
      address
        margin 0
      .address
        padding-bottom 5px
        border-bottom $gray-border
      span
        display block
        color $blue
      .favorite
        span
          margin 0 auto
    .garage-telephone
      color $blue
      div
        margin 5px 0
      span
        display inline-block
    .garage-info
      border $gray-border
      color $blue
      .image
        background $gray-light
        img
          height 80px
      .info-reservation
        text-align center
        .info-cal
          span
            display inline-block
            margin-left 5px
            &:first-child
              width 30px
              padding-right 5px
              margin-left 0
              border-right 1px solid $blue
