.popup-view
  position absolute
  top 150px
  right 0
  width 300px
  .splash-popup
    &.splash-popup-error
      background $red
    &.splash-popup-warning
      background $light-orange
    &.splash-popup-message
      background $light-blue
    &.splash-popup-success
      background $light-green
    color $white
    padding 15px
    p
      margin-bottom 0
    .splash-title
      background $transparent
      font-size $font-size-large
      font-weight $font-bold
    .splash-icon
      color red
    .splash-message
      background $transparent
      font-weight $font-light
