.popup-view
  width 300px
  .splash-popup
    &.splash-popup-error
      background $red
    &.splash-popup-warning
      background $light-orange
    &.splash-popup-message
      background $light-blue
    &.splash-popup-sucsess
      background $light-green
    color $white
    padding 15px
    border $white-border
    box-shadow 1px 1px 1px 1px $gray-light
    p
      margin-bottom 0
    .splash-header
      margin-bottom 5px
      .sprite
        display-type(inline-block)
      button
        background none
        border none
        padding 0
        float right
        font-size $font-size-large
    .splash-title
      background $transparent
      font-size $font-size-large
      font-weight $font-bold
    .splash-icon
      color red
    .splash-message
      background $transparent
      font-weight $font-light
