.has-class-reservations
  .hamburger-menu
    display none
.reservations-container
  background $white
  .lot-info
    margin-top 30px
    margin-bottom 30px
  .reservations-form
    background $white
