.has-class-reservations
  .hamburger-menu
    display none
.reservations-container
  background $white
  padding-bottom 0
  // Info Sections
  .information
    .info-section
      border-bottom 4px solid $black
      padding 15px 15px 0
      h3
        position relative
        margin 0
        padding-bottom 15px
        .ratings-preview
          position absolute
          right 0
          top 4px
          color $black
          font-size $font-size-large
          .ratings-stars
            margin-right 40px
            .fa
              font-size $font-size-large
              color $gray-light
        a
          color $black
          font-weight $font-light
        .icon
          margin-right 10px
      .toggle
        display-type(block)
      .section-body
        .ratings-content
          padding 15px
        display-type(none)
        background $white
        border-top 4px solid $black
        .ratings-bar-container
          width 100%
          background $gray-lighter
          height 20px
          display-type(block)
          position relative
          .ratings-bar
            position absolute
            background $gray-light
            height inherit
            display-type(block)
        .col
          padding 5px 15px
          .ratings-stars
            text-align right
            .fa
              font-size $font-size-large
              color $gray-light
      &.is-expanded
        .section-body
          display-type(block)
      // Daily Rates
      .rates-table
        .row
          padding 15px 0
          border-bottom $gray-border
          &.notice-row
            span
              font-size $font-size-base
              font-weight $font-light
              color $gray-light
        .rates-label
          text-align right
          font-weight $font-bold
          span
            display block
            &.sub
              font-weight $font-light

  .section-header
    text-align center
    padding 15px 0
    background $white
    h2
      padding 0
      margin 0
      font-size $font-size-large
      span
        display-type(inline-block)
        vertical-align middle
      .sprite
        margin-right 10px
  .lot-info
    margin-top 30px
    margin-bottom 30px
  .reservations-form
    padding 0
    .make-reservation
      .reservation-controls
        .section-rows
          padding 0
          .error-container
            background $red
            color $white
            text-align center
            padding 15px
      .row
        border-top $gray-border
        background $white
        &.form-submit
          background $gray-lighter
          .cancel-reservation
            margin-bottom 30px
          button
            margin 0
          .message
            padding 15px
            text-align center
            font-size $font-size-base
            font-weight $font-light
        &.rate-info
          padding 0
          border 4px solid $black
          border-left 0 none
          border-right 0 none
          margin 30px 0
          background $gray-lighter
          .section-rows
            background $white
          .form-group
            padding 15px 0
      .control
        &.error
          border 2px solid $red
          border-top 0
          background $white
        .sprite
          display-type(inline-block)
        border-right $gray-border
        min-height 100px
        padding-bottom 10px
        padding-top 10px
        text-align center
        &:last-child
          border none
        input
        select
          color $blue
          font-weight $font-bold
          margin 0
          font-size $font-size-large
          border 0 none
        .control-text
          color $blue
          display block
          font-size $font-size-base
    .section-rows
      .form-group
        margin 0
        height auto
        border 0

.reservations-tabs
  .header
    margin-top 10px!important
    margin-bottom 0!important
  .tab
    text-align center
    padding 15px
    min-height 75px
    box-shadow-border($gray-lighter)
    .sprite
      margin 0 auto!important
    a
      margin 5px auto 0
      display block
  .sprite-reservations-tab-active
  .sprite-favorites-tab-active
  .sprite-history-tab-active
    display none
  .active
    background $blue
    .sprite-reservations-tab
    .sprite-favorites-tab
    .sprite-history-tab
      display none
    .sprite-reservations-tab-active
    .sprite-favorites-tab-active
    .sprite-history-tab-active
      display block
    a
      color $white
