// Typography
@font-family
  font-family $font-family-base
  src url('../fonts/Lato-Regular.eot')
  src url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal
  text-rendering optimizeLegibility

body
  font-family $font-family-base
  font-weight 400
// Icons
// Inheritted from Mobile Angular UI Styles
.fa
  font-size $font-size-x-large
  color $blue
