// Overwrite for Bootstrap variables

//== Colors

$red ?= #ed1c24
$orange ?= #f15a24
$blue ?= #0a5499
$white ?= #fff
$black ?= #000
$gray ?= #eee
$dark-gray ?= #888
$transparent ?= transparent

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif ?= "Lato", Helvetica, Arial, sans-serif
$font-family-serif ?=      Georgia, "Times New Roman", Times, serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace ?=  Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base ?=       $font-family-sans-serif

$font-size-root ?= 14px
$font-unit ?= 0rem // Pick em or rem here

// Convert all variables to rem

$font-size-base ?=          1 + $font-unit
$font-size-xx-large ?=      2.6 + $font-unit
$font-size-x-large ?=       2.15 + $font-unit
$font-size-large ?=         1.25 + $font-unit
$font-size-small ?=         0.85 + $font-unit

$font-size-h1 ?=         2.6 + $font-unit
$font-size-h2 ?=         2.15 + $font-unit
$font-size-h3 ?=         1.7 + $font-unit
$font-size-h4 ?=         1.25 + $font-unit
$font-size-h5 ?=         $font-size-base
$font-size-h6 ?=         0.85 + $font-unit

$white-border ?= 1px solid #fff
$gray-border ?= 1px solid #eee
$transparent-border ?= 1px solid transparent

$box-shadow-gray ?= 0 1px 2px #ccc 
