.scrollable
  h3.scrollable-header.app-name
    | Parcmate Test Mobile UI
  .scrollable-content
    .list-group ui-turn-off="uiSidebarLeft"
      a.list-group-item href="#/"
        | Landing
      -for page in ['landing-signedin',
        'login',
        'login-error',
        'forgot-email',
        'forgot-password',
        'find-garage',
        'signup',
        'reservations',
        'garage-reviews',
        'checkin',
        'checkout',
        'my-tab',
        'popup-message',
        'style-guide',
        'sprite-guide']
        a.list-group-item href="#/#{page}"
          | #{page}
